<div fxLayout="column" fxFlex>

    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>Employees demo</span>
  
        <!-- Filler that pushes the menu button to the end of the toolbar -->
        <span fxFlex></span>
        <button mat-fab>
            <mat-icon (click)="addEmployee()">add</mat-icon>
          </button>
        <button mat-icon-button [matMenuTriggerFor]="themeMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    
    <!-- data grid -->
    <mat-card fxFlex fxLayoutAlign="center center">
        <mat-card-content>
            <div class="example-header">
                <mat-form-field>
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>
              </div>
              
              <div class="example-container mat-elevation-z8">
              
                <mat-table [dataSource]="dataSource" matSort>
              
                  <!-- ID Column -->
                  <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
                  </ng-container>
              
                  <!-- First Name Column -->
                  <ng-container matColumnDef="firstName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.firstName}} </mat-cell>
                  </ng-container>
              
                  <!-- Last Name Column -->
                  <ng-container matColumnDef="lastName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.lastName}} </mat-cell>
                  </ng-container>
              
                  <!-- Salary Column -->
                  <ng-container matColumnDef="salary">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Salary </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.salary}} </mat-cell>
                  </ng-container>
              
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="employeeDetails(row.id)">
                  </mat-row>
                </mat-table>
              
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
              </div>
        </mat-card-content>
    </mat-card>

    <mat-card fxFlex fxLayoutAlign="center center">

      <div class="content" fxLayout="row" fxLayout.sm="column" fxLayoutGap="16px">
  
          <app-employee-start *ngIf="mode=='start'"></app-employee-start>
          <app-employee-detail *ngIf="mode=='view'"></app-employee-detail>
          <app-employee-edit *ngIf="mode=='edit' || mode=='add'"></app-employee-edit>
  

      </div>
    </mat-card>
  
    <mat-menu #themeMenu x-position="before">
        <button mat-menu-item routerLink="/sidenav">Side nav demo</button>
    </mat-menu>
  
  
  
  </div>