
<div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
  <div class="lh-100">
    <h6 class="mb-0 text-white lh-100">Employees</h6>
  </div>
</div>

<div class="my-3 p-3 bg-white rounded box-shadow">
<small class="d-block text-right mt-3">
    <a routerLink="/add">Add Employee</a>
  </small>
  <div class="media text-muted pt-3" *ngFor="let employee of employees">
    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <div class="row">
          <div class="col-sm-8">
              <strong class="d-block text-gray-dark">{{ employee.id }}: {{ employee.firstName }} {{ employee.lastName }}</strong> 
      
              <strong>Title:</strong> {{ employee.title }} <br>
              <strong>Zipcode:</strong> {{ employee.zipcode }} <br>
              <strong>Salary:</strong> {{ employee.salary }} <br>
          </div>
          <div class="col-sm-4">
              <button type="button" class="btn btn-link" routerLink="/detail/{{employee.id}}">Edit</button>
              <button type="button" class="btn btn-link" (click)="deleteEmployee(employee.id)">Delete</button>
          </div>
      </div> 
    </div>
   </div>

</div>

